<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Manage Tutors</h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">All Tutors</h6>
                <a href="/admin/add-tutor" class="btn btn-dark">+ Add New Tutor</a>

            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>Pincode</th>
                            <th>Manage</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each tutors}}
                        <tr>
                            <td>{{this.Tutorname}}</td>
                            <td>{{this.Email}}</td>
                            <td>{{this.Phone}}</td>
                            <td>{{this.Address}}</td>
                            <td>{{this.City}}</td>
                            <td>{{this.Pincode}}</td>
                            <td><a href="" class="btn btn-danger">Delete</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->