<section>
    <div class="container my-5">

        {{!-- <a href="/tutor/cancel-all-orders" onclick="return confirm('Are You Sure to Cancel All Orders ?')"
            class="btn btn-danger mb-2">Cancel All Orders</a> --}}

        <h3 class="mt-3 mb-2">All Users</h3>

        <div class="table-responsive" style="overflow: visible;">
            <table class="table" id="table">
                <thead class="table-dark">
                    <tr class="align-middle">
                        {{!-- <th scope="col">Date</th> --}}
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile</th>
                        {{!-- <th scope="col">Amount</th>
                        <th scope="col">Payment</th> --}}
                        <th scope="col">Status</th>
                        {{!-- <th scope="col">Cancel</th>
                        <th scope="col">View</th> --}}
                    </tr>
                </thead>

                <tbody>
                    {{#each orders}}
                    <tr class="align-middle">
                        {{!-- <td>{{this.orderObject.date}}</td> --}}
                        <td>{{this.orderObject.deliveryDetails.name}}</td>
                        {{!-- <td>{{this.orderObject.userId}}</td> --}}

                        <td>{{this.orderObject.deliveryDetails.email}}</td>
                        <td>{{this.orderObject.deliveryDetails.mobile}}</td>

                        <td>
                            {{this.orderObject.status}}
                        </td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>