<section>
    <div class="container my-5">

        {{!-- <a href="/tutor/cancel-all-orders" onclick="return confirm('Are You Sure to Cancel All Orders ?')"
            class="btn btn-danger mb-2">Cancel All Orders</a> --}}

        <h3 class="mt-3 mb-2">All Bookings</h3>

        <div class="table-responsive" style="overflow: visible;">
            <table class="table" id="table">
                <thead class="table-dark">
                    <tr class="align-middle">
                        <th scope="col">No</th>
                        <th scope="col">Date</th>
                        <th scope="col">Name</th>
                        <th scope="col">Details of student</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Status</th>
                        <th scope="col">Cancel</th>
                        {{!-- <th scope="col">View</th> --}}
                        <th scope="col">Chat</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each orders}}
                    <tr class="">
                        <td>{{incremented @index}}</td>
                        <td>{{formatDate this.date}}</td>
                        <td>{{this.user.Fname}} {{this.user.Lname}}</td>

                        <td>
                            <ul class="p-0">
                                <li><b>Email : </b>{{this.user.Email}}</li>
                                <li><b>Address : </b>{{this.deliveryDetails.Address}}
                                </li>
                                <li><b>Phone : </b>{{this.deliveryDetails.Phone}}</li>
                                <li><b>Pincode : </b>{{this.deliveryDetails.Pincode}}
                                </li>


                            </ul>
                        </td>
                        <td>
                            {{this.product.name}}


                        </td>
                        <td>{{this.totalAmount}}/-</td>
                        <td class="payment-method">{{this.paymentMethod}}</td>

                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{this.status}}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item"
                                            href="/tutor/change-status/?status=Accepted&orderId={{this._id}}">Accepted</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="/tutor/change-status/?status=Rejected&orderId={{this._id}}">Rejected</a>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td>
                            <a href="/tutor/cancel-order/{{this._id}}"
                                onclick="return confirm('Are You Sure to Cancel This Order ?')"
                                class="btn btn-danger">Cancel</a>
                        </td>
                        <td>

                            <a href="/tutor/single-chat/{{this.userId}}" class="btn btn-primary">Chat with
                                user</a>


                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>