<style>
    label {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .header {
        --background-color: black !important;
        --default-color: #ffffff;
        --heading-color: #ffffff;
        color: var(--default-color);
        background-color: var(--background-color);
        padding: 20px 0;
        transition: all 0.5s;
        z-index: 997;
    }
</style>
<br>
<!-- Login Wrapper Area -->
<div class="login-wrapper d-flex mt-5 align-items-center justify-content-center mt-3">
    <div class="container-lg">
        <div class="text-center px-4"><img class="login-intro-img" src="assets/img/bg-img/36.png" alt=""></div><br>
        <!-- Register Form -->

        <div class="">
            <a href="/profile" class="btn btn-sm btn-dark">
                <i class="bi bi-arrow-left-short "></i> Back</a>
        </div>

        <div class="card shadow p-4 mt-3">
            <div class="register-form mt-4">
                <h4 class="mb-5 text-left">Edit Your Profile</h4>
                <form action="/edit-profile/{{userProfile._id}}" method="POST" enctype="multipart/form-data">

                    <div class="form-group">

                        {{!-- {{#if errors.phone}}
                        <small class="text-danger">{{errors.phone}}</small>
                        {{/if}} --}}
                    </div>
                    <div class="row g-1">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input class="form-control" type="text" id="Fname" name="Fname"
                                    value="{{userProfile.Fname}}" pattern="[A-Za-z]+" title="Only letters are allowed"
                                    required>
                                {{#if errors.fname}}
                                <small class="text-danger">{{errors.fname}}</small>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input class="form-control" type="text" id="Lname" name="Lname"
                                    value="{{userProfile.Lname}}" pattern="[A-Za-z]+" title="Only letters are allowed"
                                    required>
                                {{#if errors.lname}}
                                <small class="text-danger">{{errors.lname}}</small>
                                {{/if}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="email" id="Email" name="Email" value="{{userProfile.Email}}"
                            required>
                        {{#if errors.email}}
                        <small class="text-danger">{{errors.email}}</small>
                        {{/if}}
                    </div>

                    <div class="form-group">
                        <label>Phone Number</label>
                        <input class="form-control" type="number" id="Phone" name="Phone" value="{{userProfile.Phone}}"
                            required>
                        {{#if errors.phone}}
                        <small class="text-danger">{{errors.phone}}</small>
                        {{/if}}
                    </div>

                    <div class="form-group">
                        <label>Age</label>
                        <input class="form-control" type="number" id="Age" name="Age" value="{{userProfile.Age}}"
                            required>
                        {{#if errors.age}}
                        <small class="text-danger">{{errors.age}}</small>
                        {{/if}}
                    </div>
                    <div class="form-group">
                        <label>Class</label>
                        <select class="form-select" name="class" aria-label="Default select example">
                            <option value="{{userProfile.class}}" selected disabled>{{userProfile.class}}</option>
                            <option value="6">VI</option>
                            <option value="7">VII</option>
                            <option value="8">VIII</option>
                            <option value="9">IX</option>
                            <option value="10">X</option>
                            <option value="+1">+1</option>
                            <option value="+2">+2</option>
                             <option value="UG">UG</option>
                            <option value="PG">PG</option>
                        </select>
                    </div>

                    <label for="email" class="right-container__label">Profile Picture</label>
                    <input type="file" class="form-control right-container__input" name="profile" value="{{Image}}"
                        type="image" placeholder="Enter Image">
                    {{#if errors.image}}<div class="text-danger">{{errors.image}}</div>{{/if}}


                     {{!-- <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" id="Address" name="Address"
                            required>{{userProfile.Address}}</textarea>
                        {{#if errors.address}}
                        <small class="text-danger">{{errors.address}}</small>
                        {{/if}}
                    </div>

                    <div class="row g-1">
                        <div class="col-lg-7">
                            <div class="form-group">
                                <label>City</label>
                                <input class="form-control" type="text" id="District" name="District"
                                    value="{{userProfile.District}}" pattern="[A-Za-z]+"
                                    title="Only letters are allowed" required>
                                {{#if errors.district}}
                                <small class="text-danger">{{errors.district}}</small>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label>Pincode</label>
                                <input class="form-control" type="number" id="Pincode" name="Pincode"
                                    value="{{userProfile.Pincode}}" required>
                                {{#if errors.pincode}}
                                <small class="text-danger">{{errors.pincode}}</small>
                                {{/if}}
                            </div>
                        </div>--}}
                    </div> 

                    <button type="submit" class="btn mt-4 btn-primary">Update Profile</button>
                    <a href="/profile" class="btn mt-4 btn-secondary">Cancel</a>
                </form>
            </div>
        </div>


    </div>
</div>