<section>
    <div class="container mt-2"><br><br>
        <a href="/orders" class="btn btn-dark">back</a>
        <br><br>

        <div class="card p-4 mx-auto">
            <div class="row">
                <div class="col-lg-6">
                    <img src="/images/subject-images/{{products.product._id}}.png" class="card-img-top"
                        alt="phone-image" style="height: 17rem;">
                </div>
                <div class="col-lg-6">
                    <div class="card-body pb-1">
                        <div style="display: flex; justify-content: space-between;">
                            <h5 class="card-title">{{products.product.name}}</h5>
                            <p class="card-text"><small>₹{{products.product.Price}}</small></p>
                        </div>
                        <p class="card-text">{{products.product.desc}}</p><br>
                        <h5>Tutor Details : </h5>
                        <hr>
                        Tutor : {{products.product.tutorname}} <br>
                        Email : {{products.product.tutoremail}}



                    </div>
                </div>
            </div>
        </div>

        <div class="card p-3 mt-4">
            <!-- Sessions and Links -->
            <div class="mt-3">
                <div class="row">
                    <div class="col-lg-6">
                        {{#each products.product.title}} <!-- Corrected this to reference name[] -->
                        {{this}}
                        ------------------------------------------------------------------------------------------------------
                        <br>
                        {{/each}}
                    </div>
                    <br>
                    <div class="col-lg-6">
                        {{#each products.product.link}} <!-- Corrected this to reference  -->
                        <a href="{{this}}" target="_blank" class="">View Video</a> <br>
                        {{/each}}
                    </div>


                </div>

            </div>


        </div>
    </div>
</section>