<section>
    {{#if orders}}
    <div class="container my-5">
        <h3 class="mt-5 mb-3">My Courses</h3>
        <div class="table-responsive">
            <table class="table" id="table">
                <thead class="table-dark">
                    <tr class="align-middle">
                        <th scope="col">Date</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Amount</th>
                        {{!-- <th scope="col">Payment</th> --}}
                        <th scope="col">Status</th>
                        {{!-- <th scope="col">Cancel</th> --}}
                        <th scope="col">View</th>
                        <th scope="col">Chat</th>

                    </tr>
                </thead>

                <tbody>
                    {{#each orders}}
                    <tr class="align-middle">
                        <td>{{formatDate this.orderObject.date}}</td>

                        {{#each this.products}}
                        <td>{{this.product.name}}</td>
                        {{/each}}

                        <td>{{this.orderObject.totalAmount}}/-</td>
                        <td>{{this.orderObject.status}}</td>

                        <td>
                            <a href="/view-ordered-products/{{this._id}}" class="btn btn-primary">View Course</a>
                        </td>

                        <td>
                            {{#each this.products}}
                            {{#if (eq ../orderObject.status "placed")}}
                            <button class="btn btn-dark" disabled>Tutor is not accepted</button>
                            {{else if (eq ../orderObject.status "Rejected")}}
                            <button class="btn btn-dark" disabled>Tutor is Rejected your chat</button>
                            {{else}}
                            <a href="/single-chat/{{this.tutorId}}" class="btn btn-dark">Chat with tutor</a>
                            {{/if}}
                            {{/each}}
                        </td>

                        </td>
                    </tr>
                    {{/each}}
                </tbody>

            </table>
        </div>
    </div>
    {{else}}
    <div class="container mt-5">
        <div class="alert alert-secondary" role="alert">
            <h4 class="alert-heading">You Have Ordered Nothing!</h4>
            <hr>
            <p class="mb-0">You need to Order soemthing from the Shopping Cart/Cart.</p>
        </div>
        <div class="row">
            <a href="/" class="btn btn-primary">Add Products</a>
        </div>
    </div>
    {{/if}}
</section>