<section>
    <div class="container mt-5">
        <form id="checkout-form">
            <div class="row">
                <div class="col-md-6 ">
                    <h2>Enter Purchase details</h2><br>
                    {{#each tutorIds}}
                    <li>hiii : {{this}}</li>
                    {{/each}}
                    <div class="card shadow p-4">
                        <input type="hidden" name="userId" id="userId" value={{user._id}} class="form-control"><br>

                        <label for="">Name</label>
                        <input type="text" name="name" id="name" value={{user.Fname}} class="form-control"><br>
                        <label for="">Email</label>
                        <input type="text" name="email" id="email" value={{user.Email}} class="form-control"><br>
                        <label for="">Mobile number</label>
                        <input type="text" name="mobile" id="mobile" value={{user.Phone}} class="form-control">
                        <input type="text" name="userId" value="{{user._id}}" hidden>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="container mt-5 ml-5 card shadow p-3">
                        <h5 class="mt-4">Total amount: Rs. {{total}}/-</h5>
                        <div class="payment">
                            {{!-- <p>Payment Method</p> --}}
                            {{!-- <label class="radio-inline">
                                <input type="radio" name="payment-method" value="COD"> COD
                            </label> --}}
                            <label class="radio-inline ">
                                <input type="hidden" name="payment-method" value="ONLINE" checked>
                            </label>
                            <button class="btn btn-primary float-right mt-2 w-100" type="submit">Pay
                                {{total}}/-</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</section>
<style>
    label.radio-inline {
        display: flex;
        align-items: center;
    }

    .checkout {
        border: 1px solid;
        border-radius: 3px;
    }

    .payment {
        padding-bottom: 30px;
    }
</style>

<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault();
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $("#checkout-form").serialize(),
            success: (response) => {
                if (response.codSuccess) {
                    location.href = '/order-placed'
                } else {
                    razorpayPayment(response)
                }
            }
        })
    })

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_8NokNgt8cA3Hdv", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Shopping Cart",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        }
        var rzp1 = new Razorpay(options);
        rzp1.open()
    }

    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = '/order-placed'
                } else {
                    alert("Payment failed")
                }
            }
        })
    }
</script>