<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
    }

    body {
        font-family: 'Rubik', sans-serif;
        display: flex;
        background: rgb(24, 24, 24);
        color: #fff;

        @media (max-width: 860px) {
            flex-direction: column;
        }
    }

    .right-container,
    .left-container {
        flex: 1;
        flex-shrink: 0;

        @media (max-width: 860px) {
            flex: 1 0 auto;
        }
    }

    .left-container {
        background-image: url("https://images.unsplash.com/photo-1686706763783-1378f598d8c3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1287&q=80");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .right-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        overflow: auto;

        &__h2 {
            font-size: 30px;
        }

        &__p {
            opacity: .5;
            margin: 5px 0 10px;
        }

        &__input {
            width: 350px;
            padding: 15px 20px;
            border-radius: 100px;
            border: 1px solid rgba(255, 255, 255, .5);
            background: transparent;
            color: #fff;

            &:focus {
                outline: none;
            }
        }

        &__label {
            margin-top: 20px;
            font-size: 14px;
        }

        &__bottom-text {
            text-align: center;
            margin-top: 22px;
            font-size: 14px;
            color: rgba(255, 255, 255, .5);

            >strong {
                color: #fff;
            }
        }
    }

    .input-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .toggle-container {
        margin: 24px 0;
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .toggle-box {
        appearance: none;
        width: 32px;
        height: 16px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, .5);
        cursor: pointer;
        position: relative;

        &:checked {
            background-color: #30A2FF;

            &::after {
                transform: translateX(16px);
                transition: .4s ease-in-out;
            }
        }

        &::after {
            position: absolute;
            content: "";
            top: 3px;
            left: 3px;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: #fff;
        }
    }

    .btn {
        background-color: #30A2FF;
        border: 1px solid #30A2FF;
        width: 350px;
        border-radius: 20px;
        padding: 10px 0;
        color: #fff;
    }

    input {
        border-radius: 10px !important;
        background-color: rgb(24, 24, 24) !important;
        color: white !important;
        padding: 10px !important;
        margin-bottom: 1px !important;
    }

    label {
        margin-bottom: 5px;
    }

    input::placeholder {
        color: white !important;
    }

    select {
        border-radius: 10px !important;
        background-color: rgb(24, 24, 24) !important;
        color: white !important;
        padding: 10px !important;
        margin-bottom: 1px !important;
    }

    label {
        margin-bottom: 5px;
    }

    select::placeholder {
        color: white !important;
    }
</style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet">
<div class="left-container">
</div>
<div class="right-container">
    <div class="right-container__box">
        <div class="right-container-box mb-4 mt-5"><br><br><br><br>

            <h2 class="text-white right-container__h2">Hey Dear Student!</h2>
            <p class="right-container__p">Enter your email and password to sign in</p>
        </div>
        <form action="/signup" method="post" class="input-container">
            <div class="row ">
                <div class="col-lg-6">
                    <label for="first name" class=" right-container__label">First name</label>
                    <input type="text" class="form-control right-container__input" name="Fname" value="{{Fname}}"
                        placeholder="Your First Name" pattern="[A-Za-z]+" title="Only letters are allowed">
                    {{#if errors.fname}}<div class="text-danger">{{errors.fname}}</div>{{/if}}
                </div>
                <div class="col-lg-6">
                    <label for="first name" class=" right-container__label">Last name</label>
                    <input type="text" class="form-control right-container__input" name="Lname" value="{{Lname}}"
                        placeholder="Your Last Name" pattern="[A-Za-z]+" title="Only letters are allowed">
                    {{#if errors.lname}}<div class="text-danger">{{errors.lname}}</div>{{/if}}
                </div>
            </div>
            <label for="email" class=" right-container__label">Email</label>
            <input type="text" class="form-control right-container__input" name="Email" value="{{Email}}"
                placeholder="Your Email">
            {{#if errors.email}}<div class="text-danger">{{errors.email}}</div>{{/if}}

            <label for="phone" class=" right-container__label">Phone</label>
            <input type="text" class="form-control right-container__input" name="Phone" value="{{Phone}}"
                placeholder="Your Phone Number">
            {{#if errors.phone}}<div class="text-danger">{{errors.phone}}</div>{{/if}}

            <label for="age" class=" right-container__label">Age</label>
            <input type="text" class="form-control right-container__input" name="Age" value="{{Age}}"
                placeholder="Your Age">
            {{#if errors.age}}<div class="text-danger">{{errors.age}}</div>{{/if}}

            <label for="age" class=" right-container__label">Your Class</label>
            <select class="form-select" name="class" aria-label="Default select example">
                <option selected>Select your class</option>
                <option value="8-10">8-10th</option>
                <option value="+1+2">+1/+2</option>
                <option value="Degree-ro-pg">Degree/PG</option>
            </select>

            <label for="email" class="right-container__label">Password</label>
            <input type="password" class="form-control right-container__input" name="Password" value="{{Password}}"
                type="password" placeholder="Enter Password">
            {{#if errors.password}}<div class="text-danger">{{errors.password}}</div>{{/if}}

            <label for="email" class="right-container__label">Profile Picture</label>
            <input type="file" class="form-control right-container__input" name="profile" value="{{Image}}" type="image"
                placeholder="Enter Image">
            {{#if errors.image}}<div class="text-danger">{{errors.image}}</div>{{/if}}

            <button type="submit" class="btn mt-2 w-100">SIGN UP</button>

        </form>

        <p class="right-container__bottom-text mt-4">Already have an account? <strong><a
                    href="/signin">Signin</a></strong></p>
    </div>
</div>